@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Stock Services</h1>
    
    @if (User.Identity.IsAuthenticated)
    {
        <h1>Sisteme giriş yaptınız.</h1>
    }
</div>
